<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a
        href="javascript:void(0);"
        routerLink="/apolice"
        routerLinkActive="active"
        class="nav-link"
        >Apólice</a
      >
    </li>
    <li class="nav-item">
      <a
        href="javascript:void(0);"
        class="nav-link"
        routerLink="/lista-usuario"
        routerLinkActive="active"
        >Lista Usuários</a
      >
    </li>

    <li class="nav-item">
      <a
        href="javascript:void(0);"
        routerLink="tela-pai"
        routerLinkActive="active"
        class="nav-link"
        >Tela Pai</a
      >
    </li>
  </ul>
</header>
