<div class="container">
  <div class="row">
    <div class="col-md-3">
      <a
        href="javascript:void(0);"
        routerLink="tela-filha1"
        routerLinkActive="active"
        class="nav-link"
        >Filha 1</a
      >
      <a
        href="javascript:void(0);"
        routerLink="tela-filha2"
        routerLinkActive="active"
        class="nav-link"
        >Filha 2</a
      >
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
